.App {
  text-align: center;
}
ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  color: #ffecd1;
  background-color: #004e89;
}

#home-comp{
  background-color: #F7C59F;
}