.App {
  text-align: center;
  

}

html, body{
  width: 100%;
  height: 100%;
}



.color-nav{
  background-color: #9ab7bd;
}

#home-body{
  background-color: #f5f5dc;
  background-image: url('https://www.seekpng.com/png/full/49-492186_cityscape-transparent-skyline-chicago-chicago-skyline-no-background.png' );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Inconsolata', monospace;
  
  
}

#home-h1{
  font-size: 6rem;
}

#home-h2{
  font-size: 3rem
}

#projects-body{
  min-height: 100vh;
  background-color: #f5f5dc;
  font-family: 'Inconsolata', monospace;
}

#projects-cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  

}

#resume-body{
  min-height: 100vh;
  background-color: #f5f5dc;
  font-family: 'Inconsolata', monospace;
}

#resume-img{
  display:flex;
  justify-content: center;
}

@media screen only and (max-width: 450px){
  
  #projects-cards{
    display:flex;
    flex-direction: column;


  }
}